Dataset/
IN_YOUR_FACE_DATASET/
ANIMAL_DATASET
Chris_model/Training/data
converging_models/mask_unmask_dataset
converging_models/masked_dataset
converging_models/unmasked_dataset
Cebastian_model/checkpoints/.data-00000-of-00001
Cebastian_model/mask_face_model.h5
converging_models/checkpoints/unmasked/.data-00000-of-00001
converging_models/mask_face_model.h5